pip install panda-robot
pip install future
pip install rospy-message-converter


### without panda_robot package
sudo apt install ros-noetic-desktop-full
pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
pip install opencv-python
pip install pyrealsense2
